<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.peminjamanruang">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Ruang Sehat"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PeminjamanRuang"
        android:usesCleartextTraffic="true">

        <!-- FIREBASE SERVICE -->

        <service
            android:name=".service.MyFirebaseMessagingService"
            android:exported="false">

            <intent-filter>
                <action
                    android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>

        </service>

        <!-- ACTIVITIES -->

        <activity
            android:name=".activity.JadwalKelasAdminActivity"
            android:exported="false" />

        <activity
            android:name=".activity.EditProfileActivity"
            android:exported="false" />

        <activity
            android:name=".activity.ProfileAdminActivity"
            android:exported="false" />

        <activity
            android:name=".activity.AboutAppActivity"
            android:exported="false" />

        <activity
            android:name=".activity.SplashActivity"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <activity
            android:name=".activity.LoginActivity"
            android:exported="false" />

        <activity
            android:name=".activity.TambahGedungActivity"
            android:exported="false" />

        <activity
            android:name=".activity.GedungActivity"
            android:exported="false" />

        <activity
            android:name=".activity.ProfileActivity" />

        <activity
            android:name=".activity.DashboardAdminActivity"
            android:exported="false" />

        <activity
            android:name=".activity.DashboardUserActivity"
            android:exported="false" />

        <activity
            android:name=".activity.RuangActivity"
            android:exported="false" />

        <activity
            android:name=".activity.TambahRuangActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden|adjustResize" />

        <activity
            android:name=".activity.EditRuangActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activity.LihatRuangActivity"
            android:exported="false" />

        <activity
            android:name=".activity.PeminjamanActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activity.PeminjamanUserActivity"
            android:exported="false" />

        <activity
            android:name=".activity.RiwayatPeminjamanUserActivity"
            android:exported="false" />

        <activity
            android:name=".activity.UserActivity"
            android:exported="false" />

        <activity
            android:name=".activity.TambahUserActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activity.EditUserActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

    </application>

</manifest>